h1 a, h2 a {
  color: #f199c0;
  /* font-family: 'Lobster'; */
  font-family: 'Audiowide', 'Kosugi Maru', cursive;
  /* font-family: 'Kosugi Maru', sans-serif; */
}

body {
  /* padding-left: 15px; */
  /* font-family: 'M PLUS 1p', sans-serif; */
  font-family: 'Kosugi Maru', sans-serif;
  color: #666666;
}

.page-header {
  background-color: #f199c0;
  margin-top: 0;
  margin-left: 0px;
  padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
  color: #ffffff;
  font-size: 36pt;
  text-decoration: none;
}

.content {
  margin-left: 40px;
}

h1, h2, h3, h4 {
  /* font-family: 'Lobster', cursive; */
  /* font-family: 'Audiowide','Kosugi Maru', cursive; */
}

.date {
  color: #828282;
}

.save {
  float: right;
}

.post-form textarea, .post-form input {
  width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
  color: #ffffff;
  float: right;
  font-size: 16pt;
  margin-right: 20px;
  /* font-family: 'Audiowide', cursive; */
  font-family: 'Audiowide', 'Kosugi Maru', cursive;
}

.post {
  margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited, .textpurple {
  font-family: 'Audiowide', 'Kosugi Maru', cursive;
  color: #879bed;
}

.comment {
  margin: 20px 0px 20px 20px;
}

.textblue, .date {
  /* font-size: 8pt; */
  /* color: #4ea4b6; */
  color: #999999;
}

/* .summernote-div {
  width: 100%;
} */
